<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions -->
    <bean id="simulationExecutor" class="com.memo.assist.simulation.SimulationExecutor">
        <property name="easySimulator" ref="easySimulator"/>
        <property name="hardSimulator" ref="hardSimulator"/>
    </bean>

    <bean id="easySimulator" class="com.memo.assist.simulation.Simulator">
        <property name="repHistory">
            <value>mkyong</value>
        </property>
    </bean>

    <bean id="hardSimulator" class="com.memo.assist.simulation.Simulator">
        <property name="repHistory">
            <value>mkyong</value>
        </property>
    </bean>
</beans>